[Unit]
Description=mariadb service
Requires=nginx.socket
After=nginx.socket

AssertPathIsDirectory=%h/nextcloud-data/mariadb_data

# [Service]
# ExecStartPre=mkdir -p %h/mariadb_data
[Container]
ContainerName=mariadb
Image=docker.io/library/mariadb:latest
Exec=--transaction-isolation=READ-COMMITTED --log-bin=binlog --binlog-format=ROW
Network=mynet.network
Volume=%h/nextcloud-data/mariadb_data:/var/lib/mysql:Z
UserNS=keep-id:uid=999,gid=999

Environment=MARIADB_ROOT_PASSWORD=inR3klpD3eWuEa0
Environment=MARIADB_PASSWORD=cR7alS81nalTwp4ap
Environment=MARIADB_DATABASE=NextcloudDB
Environment=MARIADB_USER=nextcloudDbUser
[Install]
WantedBy=default.target
